/*
    page setup
*/
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

    background-color: #f7f7f7;
    color: #080808;

    font-family: "Lato", sans-serif;
}

body {
    position: relative;
}

/*
    title area
*/
.title {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 800%;
    margin-block: 0.2em 0.2em;
}

.title h3 {
    font-size: 200%;
    margin-block: 0.2em 0.2em;
}

.title-nav {
    width: 80%;

    position: relative;
    top: 18%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.title-nav a, .title-nav a:visited, .title-nav a:active {
    /*margin: 0 6%;*/

    font-weight: bold;
    text-decoration: none;
    /*color: inherit;*/
    font-size: 200%;
}

.title-nav .about-me, .side-nav .about-me {
    color: rgb(0, 117, 187);
}

.title-nav .profiles { /* TODO add the rest of colours? */
    color: #9a0000;
}

.title-nav .projects {
    color: #53a900;
}

.title-nav .courses {
    color: purple;
}

/*
    general main
*/
.main {
    width: 85%;
    height: auto;
    /*margin-top: -100vh;*/
    margin-left: 15%;
    /*position: absolute;*/
}

.side-nav {
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.side-nav a, .side-nav a:visited, .side-nav a:active {
    width: fit-content;
    margin: 15% 7%;

    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-size: 200%;
}

.content {
    width: auto;
    /*display: inline-block;*/
    /*position: absolute;*/
}

.section {
    padding: 3% 2%;
}

.section h2 {
    font-size: 350%;
}

.about-me {

}

.profiles {

}

.projects {

}

.courses {

}

/*
    profiles
*/
.profile-grid {
    display: flex;
    flex-flow: row nowrap;
}

.profile-col {
    flex: 1;
}

.profile-col a {
    width: min-content;
}

.profile-row {
    width: fit-content;
    margin: 0;
}

.profile-row img {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.profile-row h4 {
    display: inline-block;
}

/*
    projects
*/
ul { /* for courses as well */
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    align-items: center;
}

li { /* for courses as well */
    list-style: none;
    flex: 1 0 30%/*0 0 33.333333%*/;


}

.project-box {

    border: 3px solid #080808;
    border-radius: 10px;
    background-color: aliceblue;
}

.project-box img {
    width: 100%;
}

/*
    courses
*/
.course-box {
    background-color: aliceblue;
}